ListView {
  opacity: 0;
}

.visible {
  animation-name: show;
  animation-duration: 1s;
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

.delete-container {
  background-color: black;
  padding: 5;
  height: 20;
  width: 20;
  margin-right: 8;
}